*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h2{
    color: rgb(59, 31, 5);
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.logo{
    order: 2;
    font-size: 2rem;
    font-weight: 800;
}
body{
    background-color: rgb(150, 97, 34);
}
nav{

    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left: 50px;
    margin-right: 50px;

    
}

nav ul{
    order: 2;
    display: flex;

}

nav ul a{
    color: white;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.container{
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.container img{
    width: 100%;
    height: 500px;
}

.hero-text h1{
    font-size: 3.3rem;
    margin-bottom: 10px;
    color: bisque;
}

.hero-text p{
    font-size: 1.4rem;
    margin-bottom: 12px;
    color: beige;

}

button{
    padding: 1em 0.1em 1.1em;
    border-radius: 4px;
    margin: 6px;
    border: none;
    background-color: rgba(196, 98, 33, 0.842);
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 0.65rem;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em white inset;
    transition: color 1s ease-in-out;
}


button:hover{
    background-color: transparent;
    color: #8b4513;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

footer{
    background-color: #111;
    padding: 30px;
}

.footerContainer{
    width:100%;
    padding:70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content:center ;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color:black;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    color:white;
    transition: 0.5s;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style: nonedisc;
}

.footernav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s; 
}

.footernav ul li a:hover{
    opacity: 1;
}

.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;

}

.footerbottom p{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255)
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width:700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin:10px;

    }
}